.contact-wrapper{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .contact-info{
        display: flex;
        gap: 30px;
    }
    .form{
        border: 1px solid gray;
        padding: 50px 200px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
      input{
        border-radius: 20px;
        padding: 8px;
        width: 300px;
      }
    }
}